/* -- Palette -- */
/*
Pewter Blue: #8DACB5;

*/

html {
    width: 100%;
    margin: 0px;
    padding: 0px; 
    height: auto;
    overflow-x: hidden;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: url(https://images.unsplash.com/photo-1550785116-fe550d4904cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}


/* --- NAVBAR --- */
.navbar {
    background: black;
    position: fixed;
    top: 0px;
    color: white;
    width: 100%;
    padding-top: 5px;
    z-index: 1;
}
.changeColor {
    opacity: .65;
    color: black;
    transition: 0.7s all;
}
.navlist {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    display: inline;
    float: left;
}
.button {
    background-color: black;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.brand {
    font-size: 20px;
    text-align: center;
    padding: 6px 20px;
    margin: 10px 10px;
    color: white;
    border-right: 1px solid lightgrey;
}
.brandIcon {
    font-size: 1.25rem;
}
.button:hover {
    background: grey;
}

/* --- CONTENT --- */
.container {
    width: 100%
}
.grid1 {
    display: grid;
    margin-top: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 200px;
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-bottom: 10px;
    width: auto;
}
.grid2 {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 200px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-bottom: 10px;
}
.box {
    /*background-color: rgba(0,0,0,.5);*/
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
.one  {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 70px;
    text-align: center;
}
.one p {
    font-size: 1.5rem;
    margin: 20px 70px;
}
hr {
    width: 30%;
    margin-bottom: 400px;
}
a {
    text-decoration: none;
    color: white;
}
i {
    transition: 0.5s;
    font-size: 6rem;
}
i:hover {
    transform: scale(1.25);
    transition: 0.5s;
    color: orange;
}
/* -- Skill Cards -- */
.skillContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 40px auto;
    width: 100%;
    height: auto;
}
.skillCard {
    background: #8DACB5;
    padding: 20px;
    margin: 20px;
    height: auto;
}

/* -- Footer -- */
.footer {
    display: inline-grid;
    background: black;
    padding: 50px;
    width: 100%;
    height: auto;
}
