/* -- Palette -- */
/*
Pewter Blue: #8DACB5;
Desert Sand: #E8C7AB;
Lavender: #BC9CB0;
PINK: #dDACB5;
*/
/*
 ios workaround for fixed scrolling
.background {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    overflow: scroll;
    width: 100vw;
    height: 100%;
    background-image: url(background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


*/
/* ----- VARIABLES -----*/
:root {
    --dark-component-color: #464646;
    --darker-component-color: #343434;
    --light-color: #eee;
    --accent-color: #fcd3bc;
    --secondary-accent: #E8C7AB;
}
html {
    width: 100%;
    margin: 0px;
    padding: 0px; 
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    max-width: 100%;
    height: auto;
    margin: 0;
    background: black;
}
p {
    transition: 0.5s;
    text-align: center;
    margin: 10px auto;
}
hr {
    width: 30%;
    border-color: var(--dark-component-color);
}
a {
    text-decoration: none;
    color: white;
}
.hoverWrapper {
    transition: 0.5s;
}
.hoverWrapper:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
i {
    transition: 0.4s ease all;
}
.white {
    color: white;
}
.black {
    color: black;
}
.social .black:hover {
    color: black;
}
/* ----------------- NAVIGATION ------------------ */
.nav {
    background-color: black;
    color: white;
    width: 100%;
    letter-spacing: 5px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    transition: 0.4s ease all;
}
.nav h2 {
    font-size: 1.3rem;
}
.change-color {
    background-color: var(--darker-component-color);
}
.desktop-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    min-width: 150px;
    padding: 10px 0 10px 30px;
    margin: 0;
}
.brand img {
    width: 225px;
    height: auto;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-weight: bold;
    font-size: 1.25rem;
    transition: 0.4s ease all;
}
.navLink {
    padding: 0 20px;
    height: 50%;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: 0.2s ease all;
}
.navLink:hover {
    color: var(--accent-color);
    transform: translateY(-4px);
    line-height: 75px;
}
.hamburger {
    display: none;
}
.nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 0px;
    transition: 0.5s ease all;
}
.revealNavMobile {
    -webkit-transition: 0.6s; /* Safari 4+ */
    -moz-transition: 0.6s; /* Fx 5+ */
    -o-transition: 0.6s; /* Opera 12+ */
    transition: 0.5s; /* IE 10+, Fx 29+, */
    height: 20vh;
    opacity: 1;
    background-color: black;
}
.mobileLink {
    transition: 0.6 ease all;
    text-align: center;
    padding: 5px;
    letter-spacing: 3px;
    color: #eee;
    position: relative;
    z-index: 2;
    max-width: 100vw;
    line-height: 35px;
    border-bottom: 1px solid #E8C7AB;
    width: 50%;
}
.mobileLink:hover {
    color: var(--accent-color);
    transition: 0.1s;
}
.social {
    display: flex;
    padding-right: 30px;
}
.social a {
    border: none;
}
.social i:hover {
    color: var(--accent-color);
    transform: translateY(-4px);
}
/* -------------- HERO STRIP -------------- */
.hero-strip {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    background: black;
    color: white;
    overflow: hidden;
}
.image {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
} 
.branon-conor {
    -webkit-animation: slideshow 15s linear infinite;
	-moz-animation: slideshow 15s linear infinite;
    animation: slideshow 15s linear infinite;
    position: relative;
    opacity: 1;
}
@keyframes slideshow {
    0% {
        left: -10%;
    }
    100% {
        left: 30%;
    }
}
.hero-strip i {
    transition: 0.4s ease all;
}
.hero-strip i:hover {
    transform: translateY(7px) scale(1.1);
}

/* ------------ ABOUT-------------- */
.about {
    padding: 150px 0;
    width: 100;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light-color);
}
.about hr {
    border-color: white;
    margin-bottom: 25px;
}
.about-info {
    width: 750px;
}
.about-title {
    font-size: 2.5rem;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
/* ----------- LINKS ------------- */
.links {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 75px;
}
.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}
.icon-link a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
    transition: 0.4s ease all;
}
.icon-link a:hover {
    transform: translateY(-15px);
}
.icon-link a:hover i {
    background-color: var(--secondary-accent);
    color: var(--dark-component-color);
}
.links i {
    color: var(--accent-color);
    padding: 30px;
    border-radius: 100%;
    font-size: 5rem;
    background-color: white;
    transition: 0.4s ease all;
}
.icon-link a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: -1;
    width: 100%;
    height: 25px;
    transition: 0.35s ease all;
    color: var(--dark-component-color);
    font-size: 0.8rem;
    text-transform: uppercase;
}
.icon-link .first::before {
    content: 'Dev Projects';
}
.icon-link .second::before {
    content: 'Photography';
}
.icon-link .third::before {
    content: 'Beats & Music';
}
.icon-link .fourth::before {
    content: 'LinkedIn';
}
.icon-link a:hover::before {
    transform: translateY(70px);
    font-size: 1.2rem;
}


/* ---------------- SKILL CARDS --------------- */
.skills {
    display: flex;
    align-items: center;
}
.card-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.layer {
    min-height: 100%;
    width: 33.333%;
    padding: 50px 0 50px 0;
    color: white;
    background-color: black;
    position: relative;
    left: 0;
    z-index: 3;
    transition: 0.4s ease all;
    -webkit-box-shadow: 21px 8px 34px -10px rgba(0,0,0,0.4);
    -moz-box-shadow: 21px 8px 34px -10px rgba(0,0,0,0.4);
    box-shadow: 21px 8px 34px -10px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center
}
.layer svg {
    width: 50px;
    height: auto;
    color: white;
    transition: 0.25s;
}
.layer li {
    display: block;
    font-size: 0.9rem;
}
.layer:hover {
    width: 40%;
}
.layer:hover svg {
    transform: translateY(-10px) scale(1.1);
}
.layer:nth-of-type(2) {
    background: var(--darker-component-color);
    z-index: 2;
}
.layer:last-of-type {
    background-color: var(--dark-component-color);
    z-index: 1;
}
/*-------------- AXN CREATIVE ---------- */
.axn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: var(--accent-color);
    position: relative;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    padding: 100px 0 50px 0;
}
.axn img {
    width: 600px;
    height: auto;
}
.axn p {
    padding: 50px 100px;
}
.axn a {
    color: var(--dark-component-color);
    font-size: 1.2rem;
    transition: 0.4s ease all;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background: black;
    color: #eee;
    position: relative;
    overflow: hidden;
}
.axn a::after {
    content: "LET'S GO!";
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 0%;
    height: 100%;
    background: var(--accent-color);
    transition: 0.5s ease all;
    color: black;
}
.axn a:hover {
    color: black;
}
.axn a:hover::after {
    width: 100%;
    font-size: 1rem;
}

/* -------------- CONTACT FORM ----------------- */
.form-strip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--dark-component-color);
    padding: 50px 0;
}
.form-strip i {
    font-size: 3rem;
    color: #E8C7AB;
}
.form-strip h2 {
    color: white;
    text-align: center;
    font-weight: thin;
    font-size: 2.25rem;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
fieldset {
    width: 500px;
    padding: 0;
    margin: 0;
    border: none;
}
.fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fieldset-wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}
input, select, textarea {
    width: 100%;
    border: none;
    background-color: var(--secondary-accent);
    border-radius: 10px;
    padding: 10px;
    outline: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    height: 40px;
    border: 1px solid black;
    transition: 0.2s ease all;
}
input:hover, select:hover, textarea:hover {
    border: none;
    background: black;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    color: white;
    border: 1px solid white;
}
.text-area {
    width: 95%;
}
input::placeholder, select::placeholder, textarea::placeholder {
    color: white;
}
label {
    visibility: hidden;
}
.message {
    text-align: center;
    width: 100%;
}
.message label, input {
    width: 100%;
}
.form-button {
    -webkit-appearance: none;
    width: 150px;
    height: 60px;
    margin: 20px;
    transition: 0.3s ease all;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: 0.4s ease all;
}
.form-button:hover {
    cursor: pointer;
}

/* -- Footer -- */
.footer {
    display: flex;
    justify-content: center;
    background: var(--darker-component-color);
    width: 100%;
    height: auto;
    margin: 0;
    color: white;
    text-align: center;
}
.footer-text {
    color: white;
}
ol {
    padding: 0;
    list-style: none;
}
li {
    display: inline;
}
.fa-2x {
    padding: 10px;
}
.footer i {
    color: #eee;
}
.footer i:hover {
    color: var(--accent-color);
    transform: translateY(-5px);
}
small {
    font-size: 0.7rem;
    color: grey
}
small a {
    color: var(--accent-color);
}

/* ------------ MEDIA QUERIES ----------- */
@media only screen and (max-width: 850px) {
    h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
        /* Mobile Nav */
        .navbar {
            display: none;
        }
        .social {
            display: none;
        }
        .hamburger {
            display: inline-block;
            cursor: pointer;
            width: 20px;
            height: auto;
            padding: 8px 20px 8px 10px;
            position: relative;
            left: -5%;
            transition: 0.4s ease all;
            background-color: #eee;
            border-radius: 10px;
        } 
        .bar1, .bar3 {
            width: 30px;
            height: 4px;
            background-color: var(--darker-component-color);
            margin: 6px 0;
            transition: 0.6s;
            border-radius: 10px;
        }
        .bar2 {
            width: 30px;
            height: 4px;
            background-color: var(--darker-component-color);
            margin: 6px 0;
            transition: 0.5s;
            border-radius: 10px;
        }
    
        .change .bar1 {
            -webkit-transform: rotate(-45deg);
            transform: translateY(10px) rotate(-228deg);
        }
        /*  translate(3px, -5px) */
        .change .bar2 {
            transform: rotate(125deg) translateY(-10px) translateX(30px);
            opacity: 0;
        }
        .change .bar3 {
            -webkit-transform: rotate(45deg);
            transform: translateY(-10px) rotate(48deg);
        /*  translate(-9px, -12px) */
        }

        .card-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .layer {
            width: 100%;
        }
        .layer:hover {
            width: 100%;
        }
}
@media only screen and (max-width: 780px) {
    .navbar-socials {
        display: none;
    }
    .about-info {
        width: 80vw;
    }
    .icon-link{
        width: 80vw;
    }
}
@media only screen and (max-width: 650px) {
    /* Contact Form */
    fieldset {
        width: 300px;
    }
    .fieldset-wrapper div {
        width: 95%;
    }
}
@media only screen and (max-width: 640px) {
    /* About */
    .links {
        flex-wrap: wrap;
    }
    .icon-link {
        width: 40%;
        height: 225px;
    }
}
@media only screen and (max-width: 580px) {
    .navlink li {
        padding: 23px 20px;
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 500px) {
    .about-title {
        font-size: 1.8rem;
    }
    .skill-card {
        height: 300px;
        padding: 5px;
    }
    .about {
        padding: 50px 0;
    }
    .axn img {
        width: 400px;
    }
    .axn a {
        text-decoration: underline;
    }
}
@media only screen and (max-width: 400px) {
    html {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        overflow-x: hidden;
    }
    .navbar {
        padding-top: 10px;
    }
    .navlink li {
        padding: 20px 15px;
        font-size: 0.8rem;
    }
    .mobile-header {
        font-size: 6rem;
    }
    .footer-text {
        display: none;
    }
    .footer {
        grid-template-columns: 1fr;
        padding: 10px 0px;
    }
    ol {
        display: inline;
    }
    .hero-strip {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .icon-link {
        width: 50%;
    }
}
