/* -- Palette -- */
/*
Pewter Blue: #8DACB5;
Desert Sand: #E8C7AB;
Lavender: #BC9CB0;
PINK: #dDACB5;
*/
/*
 ios workaround for fixed scrolling
.background {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    overflow: scroll;
    width: 100vw;
    height: 100%;
    background-image: url(background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


*/
html {
    width: 100%;
    margin: 0px;
    padding: 0px; 
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    max-width: 100%;
    height: auto;
    margin: 0;
}
p {
    transition: 0.5s;
    text-align: center;
    margin: 10px auto;
    color: white;
}
hr {
    width: 30%;
    border-color: black;
}
a {
    text-decoration: none;
    color: white;
}
.hoverWrapper {
    transition: 0.5s;
}
.hoverWrapper:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
i {
    color: white;
}
/* ----------------- NAVIGATION ------------------ */
.nav {
    background-color: black;
    color: white;
    width: 100%;
    letter-spacing: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.nav h2 {
    font-size: 1.3rem;
}
.change-color {
    background-color: rgba(0, 0, 0, 0.5);
}
.desktop-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    min-width: 150px;
    padding-left: 30px;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80%;
    font-weight: bold;
}
.navLink {
    padding: 0 20px;
    height: 50%;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: 0.2s ease all;
}
.navLink:hover {
    color: #BC9CB0;
    transform: translateY(-4px);
    line-height: 75px;
}
.hamburger {
    display: none;
}
.nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 0px;
    transition: 0.4s ease-in;
}
.revealNavMobile {
    -webkit-transition: 0.6s; /* Safari 4+ */
    -moz-transition: 0.6s; /* Fx 5+ */
    -o-transition: 0.6s; /* Opera 12+ */
    transition: 0.5s; /* IE 10+, Fx 29+, */
    height: 20vh;
    opacity: 1;
}
.revealNavMobile .mobileLink {
    line-height: 30px;
}
.mobileLink {
    transition: 0.6 ease all;
    line-height: 5px;
    text-align: center;
    padding: 5px;
    letter-spacing: 3px;
    color: black;
    position: relative;
    z-index: 2;
    max-width: 100vw;
}
.mobileLink:hover {
    color: #BC9CB0;
    transition: 0.1s;
}
.social {
    display: flex;
    padding-right: 30px;
}
.social i:hover {
    color: #BC9CB0;
    transform: translateY(-4px);
}
/* -------------- HERO STRIP -------------- */
.hero-strip {
    background-image: url(background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.branon-conor {
    width: 70vw;
    height: auto;
    position: relative;
    left: 0;
    z-index: 2;
}
.circles {
    width: 700px;
    height: auto;
    position: absolute;
    top: 20%;
    z-index: 0;
    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hero-strip i {
    transition: 0.4s ease all;
    position: relative;
    left: 0;
    z-index: 3;
}
.hero-strip i:hover {
    transform: translateY(15px);
    color: #E8C7AB;
}


/* ------------ ABOUT-------------- */
.about {
    margin: 75px 0;
    padding: 100px 0;
    width: 100;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.about hr {
    border-color: white;
    margin-bottom: 25px;
}
.about-info {
    width: 750px;
}
.about img {
    width: 600px;
    height: auto;
    animation: floating 5s infinite;
}
@keyframes floating {
    0% {transform: translateY(0px);}
    50% {transform: translateY(25px);}
    100% {transform: translateY(0px);}
}
.about-title {
    font-size: 2.5rem;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
/* ----------- LINKS ------------- */
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:black;
    width: 100%;
    height: auto;
}
.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    margin: 20px;
}
.icon-link a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
.links i {
    font-size: 5rem;
}
.icon-link::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    width: 100%;
    height: 0%;
    background: black;
    transition: 0.35s ease all;
    border-radius: 10;
}
.icon-link:hover::before {
    height: 100%;
}
.icon-link::after {
    content: '';
    position: absolute;
    top:0%;
    left:0%;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: url(background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 0.3s ease all;
    border-radius: 10px;
}
.icon-link:hover::after {
    height: 0%;
}


/* ---------------- SKILL CARDS --------------- */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px 0 150px 0;
    padding-top: 75px;
}
.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.skill-card {
    width: 350px;
    height: 360px;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    transition: 0.4s ease all;
}
.skill-icon {
    font-size: 2.5rem;
    padding-bottom: 20px;
    color: #dDACB5;
    transition: 0.4s ease all;
}
.skill-card:hover .skill-icon {
    transform: translateY(10px);
}
.skill-card:hover {
    background: rgba(0, 0, 0, 0.75);
    transform: translateY(-10px);
}
/*-------------- AXN CREATIVE ---------- */
.axn-creative {
    width: 100%;
    margin-bottom: 150px;
}
.axn-creative p {
    position: relative;
    top: -20vh;
    font-size: 1.5rem;
    z-index: 1;
}
.axn-creative a {
    color: #BC9CB0;
    text-decoration: underline;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    max-width: 100%;
    max-height: 100%;
}

/* -------------- CONTACT FORM ----------------- */
.form-strip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 50px 0;
}
.form-strip i {
    font-size: 3rem;
    color: #E8C7AB;
}
.form-strip h2 {
    color: white;
    text-align: center;
    font-weight: thin;
    font-size: 2.25rem;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
fieldset {
    width: 500px;
    padding: 0;
    margin: 0;
    border: none;
}
.fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fieldset-wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}
input, select, textarea {
    width: 100%;
    border: none;
    background: url(background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    height: 40px;
    border: 1px solid black;
}
input:hover, select:hover, textarea:hover {
    border: none;
    background: black;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    color: white;
    border: 1px solid white;
}
.text-area {
    width: 95%;
}
input::placeholder, select::placeholder, textarea::placeholder {
    color: white;
}
label {
    visibility: hidden;
}
.message {
    text-align: center;
    width: 100%;
}
.message label, input {
    width: 100%;
}
.form-button {
    width: 150px;
    height: 60px;
    margin: 20px;
    transition: 0.3s ease all;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: 0.4s ease all;
}
.form-button:hover {
    cursor: pointer;
}

/* -- Footer -- */
.footer {
    display: flex;
    justify-content: center;
    background: #BC9CB0;
    width: 100%;
    height: auto;
    margin: 0;
    color: white;
    text-align: center;
}
.footer-text {
    color: white;
}
ol {
    padding: 0;
    list-style: none;
}
li {
    display: inline;
}
.fa-2x {
    padding: 10px;
}
@media only screen and (max-width: 1320px) {
    .axn-creative p {
        top: -15vh;
        font-size: 1.25rem;
    }
}
@media only screen and (max-width: 1100px) {
    .axn-creative p {
        top: -12vh;
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 950px) {
    .axn-creative p {
        top: -10vh;
        font-size: 1.1rem;
        padding: 0 50px;
    }
}
@media only screen and (max-width: 850px) {
    h3 {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 780px) {
    .navbar-socials {
        display: none;
    }
    .about-info {
        width: 80vw;
    }
    .icon-link{
        width: 80vw;
    }
}
@media only screen and (max-width: 675px) {
    .circles {
        width: 100vw;
        height: auto;
        top: 20%;
    }
}
@media only screen and (max-width: 650px) {
    .circles {
        width: 100vw;
        height: auto;
        top: 23%;
    }
    .axn-creative p {
        top: 25px;
        font-size: 1.5rem;
        padding: 0 50px;
        color: black;
    }
    .axn-creative {
        margin: 75px 0;
    }
    .axn-creative a {
        color: white;
    }
    /* Contact Form */
    fieldset {
        width: 300px;
    }
    .fieldset-wrapper div {
        width: 95%;
    }
}
@media only screen and (max-width: 640px) {
    /* Mobile Nav */
    .navbar {
        display: none;
    }
    .social {
        display: none;
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        width: 20px;
        height: auto;
        padding: 10px 20px 10px 10px;
        position: relative;
        left: -5%;
        transition: 0.4s ease all;
        background-color: white;
        border-radius: 10px;
    } 
    .bar1, .bar3 {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        transition: 0.6s;
    }
    .bar2 {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        transition: 0.5s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg);
        transform: translateY(10px) rotate(-228deg);
    }
    /*  translate(3px, -5px) */
    .change .bar2 {
        transform: rotate(125deg) translateY(-10px) translateX(30px);
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg);
        transform: translateY(-10px) rotate(48deg);
    /*  translate(-9px, -12px) */
    }
    .athlete-strip h2 {
        width: 80%;
        line-height: 40px; 
        font-weight: bold;
    }
}
@media only screen and (max-width: 580px) {
    .circles {
        width: 100vw;
        height: auto;
        top: 27.5%;
    }
    .navlink li {
        padding: 23px 20px;
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 500px) {
    .about-title {
        font-size: 1.8rem;
    }
    .circles {
        width: 100vw;
        height: auto;
        top: 30%;
    }
    .icon-link {
        background-image: url(background3-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .icon-link::after {
        background-image: url(background3-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    input, select, textarea {
        background-image: url(background3-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .skill-card {
        height: 300px;
        padding: 5px;
    }
}
@media only screen and (max-width: 450px) {
    body {
        font-family: 'PT Sans', sans-serif;
        background-image: url(background3-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        max-width: 100%;
        height: auto;
        margin: 0;
    }
    .circles {
        width: 100vw;
        height: auto;
        top: 33%;
    }
}
@media only screen and (max-width: 400px) {
    html {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        overflow-x: hidden;
    }
    .navbar {
        padding-top: 10px;
    }
    .navlink li {
        padding: 20px 15px;
        font-size: 0.8rem;
    }
    .circles {
        width: 100vw;
        height: auto;
        top: 35%;
    }
    .mobile-header {
        font-size: 6rem;
    }
    .footer-text {
        display: none;
    }
    .footer {
        grid-template-columns: 1fr;
        padding: 10px 0px;
    }
    ol {
        display: inline;
    }
}
